In [159]:
for i in range(5):
    print("*****")

*****
*****
*****
*****
*****

In [160]:
for i in range(5):
    print("*" * (i+1))

*
**
***
****
*****

In [161]:
for i in range(5):
    for j in range(i+1):
        print((j+1), end='')
    print("\n")

1

12

123

1234

12345

In [162]:
for i in range(5):
    for j in range(i+1):
        print((i+1), end='')
    print("\n")

1

22

333

4444

55555

In [163]:
for i in range(5,0,-1):
    print("*" * (i))

*****
****
***
**
*

In [164]:
for i in range(1,8,2):
    print(((8-i)//2)*' ',end='')
    print('*'*(i),end='\n')

   *
  ***
 *****
*******

In [165]:
for i in range(7,-1,-2):
    print(((8-i)//2)*' ',end='')
    print('*'*(i),end='\n')

*******
 *****
  ***
   *

In [166]:
def dia_pyramid(n):
    n *= 2
    for i in range(1,n,2):
        print(((n-i)//2)*' ',end='')
        print('*'*(i),end='\n')
    for i in range((n-1),-1,-2):
        print(((n-i)//2)*' ',end='')
        print('*'*(i),end='\n')

In [167]:
dia_pyramid(6)

     *
    ***
   *****
  *******
 *********
***********
***********
 *********
  *******
   *****
    ***
     *

In [168]:
dia_pyramid(3)

  *
 ***
*****
*****
 ***
  *

In [169]:
def arr_pyramid(n):
    for i in range(0,n,1):
        #print(((n-i)//2)*' ',end='')
        print('*'*(i),end='\n')
    for i in range((n),-1,-1):
        #print(((n-i)//2)*' ',end='')
        print('*'*(i),end='\n')

In [170]:
arr_pyramid(6)

*
**
***
****
*****
******
*****
****
***
**
*

In [171]:
def asc_binary(n):
    b = False
    for i in range(n):
        for j in range(i+1):
            b = not b
            print(1*b, end=' ')
        print("\n")

In [172]:
asc_binary(5)

1

0 1

0 1 0

1 0 1 0

1 0 1 0 1

In [173]:
def num_taj(n):
    for i in range(1,n+1):
        for j in range(i):
            print(j+1," "*(n-1-j)*2,j+1,end='')
        print("\n")

In [174]:
num_taj(4)

1        1

1        12      2

1        12      23    3

1        12      23    34  4

In [175]:
def asc_num(n):
    for i in range(1,n+1):
        m = ''
        for j in range(1,i+1):
            m += str(j)
        print(m, end='')
        print(' '*(n-i)*2,end='')
        print(m[::-1], end='\n')

In [176]:
asc_num(9)

1                1
12              21
123            321
1234          4321
12345        54321
123456      654321
1234567    7654321
12345678  87654321
123456789987654321

In [177]:
def asc_alphabets(n):
    al = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    for i in range(n):
        for j in range(i+1):
            print(al[j], end='')
        print("\n")

In [178]:
asc_alphabets(7)

A

AB

ABC

ABCD

ABCDE

ABCDEF

ABCDEFG

In [179]:
def desc_alphabets(n):
    al = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    for i in range(n, 0, -1):
        for j in range(i):
            print(al[j], end='')
        print("\n")

In [180]:
desc_alphabets(5)

ABCDE

ABCD

ABC

AB

A

In [181]:
def asc_alphabets_same(n):
    al = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    b = 0
    for i in range(n):
        for j in range(i+1):
            print(al[b], end='')
        b+=1
        print("\n")

In [182]:
asc_alphabets_same(5)

A

BB

CCC

DDDD

EEEEE

In [183]:
def tri_alphabets(n):
    al = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    b = 0
    for i in range(n,0,-1):
        for j in range(i,n+1):
            print(al[j-1], end=' ')
        b+=1
        print("\n")

In [184]:
tri_alphabets(5)

E

D E

C D E

B C D E

A B C D E

In [185]:
def pyramid_alpha(n):
    al = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    b = 0
    for i in range(1,n,1):
        print(((n-i))*' ',end='')
        print(al[0:b]+ '' + al[b]+ '' + al[0:b][::-1],end='\n')
        b = b + 1

In [186]:
pyramid_alpha(8)

       A
      ABA
     ABCBA
    ABCDCBA
   ABCDEDCBA
  ABCDEFEDCBA
 ABCDEFGFEDCBA

In [187]:
def square_marks(n):
    for i in range(0,n):
        if i == 0 or i == n-1:
            print('* ' * n)
        else:
            s = ' '*(n-2)
            print('* '+' '*(n-2)*2+'*')

In [188]:
square_marks(4)

* * * *
*     *
*     *
* * * *

In [189]:
def box_star_out(n):
    for i in range(1,n+1):
        m = '*'
        for j in range(1,i):
            m += '*'
        print(m, end='')
        print(' '*(n-i)*2,end='')
        print(m[::-1], end='\n')
    for i in range(n-1,0,-1):
        m = '*'
        for j in range(1,i):
            m += '*'
        print(m, end='')
        print(' '*(n-i)*2,end='')
        print(m[::-1], end='\n')

In [190]:
box_star_out(5)

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [191]:
def box_star_in(n):
    for i in range(n,0,-1):
        m = '*'
        for j in range(1,i):
            m += '*'
        print(m, end='')
        print(' '*(n-i)*2,end='')
        print(m[::-1], end='\n')
    for i in range(1,n+1):
        m = '*'
        for j in range(1,i):
            m += '*'
        print(m, end='')
        print(' '*(n-i)*2,end='')
        print(m[::-1], end='\n')

In [192]:
box_star_in(5)

**********
****  ****
***    ***
**      **
*        *
*        *
**      **
***    ***
****  ****
**********

In [193]:
def square_num(n):
    for i in range(n*2-1):
        for j in range(n*2-1):
            top = i
            bottom = j
            right = (2*n-2) - j
            left = (2*n-2) - i
            print(n - min(min(top,bottom), min(left,right)), end=' ')
        print('\n')

In [194]:
square_num(4)

4 4 4 4 4 4 4

4 3 3 3 3 3 4

4 3 2 2 2 3 4

4 3 2 1 2 3 4

4 3 2 2 2 3 4

4 3 3 3 3 3 4

4 4 4 4 4 4 4

THE END